{% extends "index.html" %}
{%block title%}
<form action="{{url_for("prof")}}" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleInputEmail1">Address</label>
      <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="address">
      <div class="new"></div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">appartment size</label>
        <select class="form-control exampleFormControlSelect1" name="size">
          <option>1Bhk</option>
          <option>2Bhk</option>
          <option>3Bhk</option>
          <option>4Bhk</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Price-suffix</label>
        <select class="form-control exampleFormControlSelect1" name="price_suffix">
          <option>Lakh</option>
          <option>crore</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Price</label>
        <select class="form-control exampleFormControlSelect1" name="price">
          <option>0-10</option>
          <option>10-20</option>
          <option>30-40</option>
          <option>40+</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Price-suffix</label>
        <select class="form-control" id="exampleFormControlSelect1" name="status">
          <option>Rent</option>
          <option>Sell</option>
        </select>
      </div>
      <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <input class="form-control" id="see"  name="proxy_address">  
        <input class="form-control saw"  name="long">
        <input class="form-control saw"  name="latt">
{%endblock%}